.bottomSectionImage {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #a7a8aa;
  height: 200px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  margin-bottom: 1rem;
}
